@model Project_Asp.Net.Models.shift
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" type="text/css" />
    <!-- JavaScript Bundle with Popper -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width" />


    <script>
        function Result() {
            var SearchTxt = document.getElementById('Search').value;
            var url = "https://localhost:44377/Employee/SearchEmp/?text=" + SearchTxt;
            console.log(url)
            window.location = url;
        }

    </script>

</head>
<body>
    <div class="nav">
        <ul class="nav-list">
            <li>Hello  @Session["FullName"]</li>
            <li>@Html.ActionLink("Home", "Home", "Login")</li>
            <li class="LogOut">Number of Action: @Session["ActionCounter"] </li>
            <li class="LogOut">@Html.ActionLink("LogOut", "LogOut", "Login")</li>
        </ul>
    </div>
    

        <div class="container text-center" style="padding-left: 15%;">
            <div class="row">
                <div style="width: 50%;">
                    <h2>Add Shift</h2>
                    @using (Html.BeginForm("AddShift", "Shift", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label class="control-label">Shift Date</label>
                            @Html.TextBoxFor(x => x.ShiftDate, new { @type = "date", @class = "form-control", placeholder = "Enter Shift Date" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Start Time</label>
                            @Html.TextBoxFor(x => x.StartTime, new { @class = "form-control", placeholder = "Enter Start Time" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">End Time</label>
                            @Html.TextBoxFor(x => x.EndTime, new { @class = "form-control", placeholder = "Enter End Time" })
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Update">
                    }
                </div>
                </div>
            </div>
                
</body>
</html>
